@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pet Safe</h1>
    <p>For a healthy pet/plant environment</p>
</div>

<p style="text-align:center;">
<a href="https://www.dropbox.com/home?preview=received_482880630014801%5B325%5D.jpeg" target="_blank"><img src="https://previews.dropbox.com/p/thumb/AB5Qe1OARPT35i4OTDcjh_hWEgpbyBMvSTL0VSlqZhEBCzUF1d9VmPJ81KOvEgttsx66_kB11h1JjSMkrr--FiVfaJ_Qj_IE8KGXJB9nEMkPGlyjg5nogyrSjFdQq3sDy0X9BNaBMzQUFVTcvaOIYcvtoxmiTHIBI6GMiedVwiPztQFghG2y3uUxRuAxYyZMhhS6Z552Dc8ws_dtIN-AoP_aWeT-wayLwXc1o_HPDmi4tIddZi9-glsZGId1-YGQQsvw5cs7AuTZN3iWuosUSTuD1aCDc80IzOBVBUhxwcGUCEclJYguF43NLe4q7h2ToU-SFBDJRb7EikWSJLgGgl3OsygcdsY_JyE-VvozlzsgwuRdkeZqzlhEeEWG413flU0/p.jpeg" width="600" height="500"/></a>
</p>