@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
    <p>The Goal is to provide a list plants that are toxic to animals and pets. This would allow everyone to make a better household for their new and current family
        members.
    </p>
</h2>
</div>
